/* src/styles.css */
.ripple {
    -fx-background-color: #e0e0e0;
}

.list-cell {
    -fx-background-color: white;
    -fx-padding: 8px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #e0e0e0;
    -fx-border-insets: 0 16px 0 16px;
}

.toolbar {
    -fx-background-color: #009688;
    -fx-padding: 10px;
}

.toolbar-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-pref-width: 100%;
}

.toolbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: center-right;
}
